<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation bar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="/med-app/src/components/Landing_Page/LandingPage.css">
    <link rel="stylesheet" href="/med-app/src/components/Nav_Bar/NavBar.css">
  
</head>
<body>
  <div>
    <!--This is the navigation bar-->
    <section class="section">
      <nav class="navbar">
        <!-- This is the company name and logo-->
          <a class="logo" href="../Landing_Page/LandingPage.html"> HealthGuard
          <i class="fa fa-tint" class="drop-image" aria-hidden="true"></i></a>
         
        <!-- This is the home page--> 
          <a class="home" class="active" href="../Landing_Page/LandingPage.html" class="home"> Home 
          <i class="fa fa-fw fa-home" class="home-image"></i></a>

        <!-- this is the appointment page-->
        <a class="appointments" class="active" href="../Search-Page/SearchPage.html"> Appointments
        <i class="fa fa-fw fa-search" class="search-image"></i></a>

        <!--This is the blog page-->
        <a class="health-blog" class="active" href="#"> Health Blog
        <i class="fa fa-fw fa-users" class="users-image"></i></a>
        
        <!--This is the review page-->
        <a class="reviews" class="active" href="../Review_Page/ReviewPage.html"> Reviews
        <i class="fa fa-book" aria-hidden="true"></i></a>

        <!--This is the log in page with the log in button-->
          <a href="C:\Users\hegyi\Desktop\Responsive Webdesing\IBM training\Capstone project\Project code\grihf-frontend_capstone_starter_code\Log_in\Login_page.html">
          <button class="btn1" class="login" type="button"> Log in</button></a>

        <!-- this is the sign up page with the sign up button-->
        
          <a href="C:\Users\hegyi\Desktop\Responsive Webdesing\IBM training\Capstone project\Project code\grihf-frontend_capstone_starter_code\Sign_up\SignUp.html">
          <button class="btn2" class="signup"type="button"> Sign up</button></a>
      </nav>
    </section>
  </div>


  <!--This is the main part of the landing page-->
  <section class="hero-section">
    <div>
      <div data-aos="fade-up" class="flex-hero">
          <h1 class="text-gradient">
            Your Health<br/>
            <span class="text-gradient">
              Our Mission
            </span>
          </h1>
          <h4>
            “Primum non nocere” <br><br>“First do no harm”
          </h4>
          </div>    
      </div>
    </div>
  </section>
</body>
</html>