section{
    margin-bottom: -190px;
    position:sticky;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    text-align: center;
    justify-content: space-between;
    display: inline;
    float:left;
    margin-right: 200px;
    margin-left:10px;
    margin-top:30px;
}
.main-logo{
    margin-top:-10px;
}
.fa{
color: rgba(0, 126, 133, 1);

}
.navbar{
    float: center;
    color:rgba(0, 126, 133, 1);
    font-size: large;
}
.navbar :hover{
    color:black;
}
.appointments{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    padding:10px;
    padding-top: 30px;
}
.home{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    padding-top:10px;
}
.health-blog{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    padding:10px;
}
.reviews{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    padding:10px;
    
}
.btn1{
    text-align: center;
    justify-content: space-between;
    padding:10px;
    font-size: medium;
    border-radius: 30%;
    color: white;
    background-color: rgba(0, 126, 133, 1);
    border-color: white;
    display: inline-block;
    max-width: fit-content;
    margin-right:10px;
    margin-left:10px;

}
.btn2{
    text-align: center;
    justify-content: space-between;
    padding:10px;
    font-size: medium;
    border-radius: 30%;
    color: white;
    background-color: rgba(0, 126, 133, 1);
    border-color: white;
    display: inline-block;
    max-width: fit-content;
    margin-right:10px;
    margin-left:10px;
}
.section{
    background-color: rgba(219, 252, 255, 1);
    align-items: center;

}
body{
    overflow: hidden;
}
    /* Media queries for mobile responsiveness */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .logo{
        margin-right:10px;
    }
    .btn1{
        display:inline;
    }
    .btn2{
        display:inline;
    }
    .navbar{
        font-size: small;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .logo{
        margin-right:10px;
        margin-top:10px;
    }
    .btn1{
        display:inline;
    }
    .btn2{
        display:inline;
    }
    .navbar{
        font-size: medium;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .logo{
        margin-right:10px;
        margin-top:20px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .home{
        margin-left:225px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .home{
        margin-left:450px;

    }
    .navbar{
        margin-top:20px;
    }
    .logo{
        margin-top:20px;
    }
}