<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="C:\Users\hegyi\Desktop\Responsive Webdesing\IBM training\Capstone project\Project code\grihf-frontend_capstone_starter_code\Sign_up\SignUp.css">
</head>
<body>
    <!--This is the navbar-->
    <section>
        <div>
            <!--This is the main logo-->
            <ul>
            <li className="logo">
                <a href="../Landing_Page/LandingPage.html" style="color:rgba(0, 126, 133, 1)"> HealthGuard 
                <i className="fa fa-tint" aria-hidden="true" className="logo-image"></i></a>
            </li>
            </ul>
        </div>
        <nav className="navbar">
            <ul>
                <!--This is the home page-->
                <li className="home">
                    <a className="active" href="../Landing_Page/LandingPage.html" className="home" style="color:rgba(0, 126, 133, 1)"> Home
                    <i className="fa fa-fw fa-home" className="home-image"></i></a>
                </li>
                <!-- this is the appointment page-->
                <li className="appointments">
                    <a className="active" href="../Search-Page/SearchPage.html" style="color:rgba(0, 126, 133, 1)"> Appointments
                    <i className="fa fa-fw fa-search" className="search-image"></i></a>
                </li>
                <!--This is the blog page-->
                <li className="health-blog">
                    <a className="active" href="#" style="color:rgba(0, 126, 133, 1)"> Health Blog
                    <i className="fa fa-fw fa-users" className="users-image"></i></a>
                </li>
                <!--This is the review page-->
                <li className="reviews">
                    <a className="active" href="../Review_Page/ReviewPage.html" style="color:rgba(0, 126, 133, 1)"> Reviews
                    <i className="fa fa-fw fa-book" className="book-image"></i></a>
                </li>

            </ul>
        </nav>
    </section>
    <div className="container">
        <div className="signup-grid">
            <div className="signup-text">
                <h1>Sign Up</h1>

            </div>
            <div className="signup-text1">
                Already a member? <a href="C:\Users\hegyi\Desktop\Responsive Webdesing\IBM training\Capstone project\Project code\grihf-frontend_capstone_starter_code\Log_in\Login_page.html" style="color: #2190FF;"> Login</a>
            </div>
            <div className="signup-form">
                <form>

                    <div className="form-group">
                        <label className="fullname" htmlFor="name">Name</label>
                        <input type="text" name="name" id="name" required className="form-control" placeholder="Enter your name" aria-describedby="helpId" />
                    </div>
                    <div className="form-group">
                        <label className="phone-number" htmlFor="phone">Phone</label>
                        <input type="tel" name="phone" id="phone" required className="form-control" placeholder="Enter your phone number" aria-describedby="helpId" />
                    </div>
                    <div className="form-group">
                        <label className="email-address" htmlFor="email">Email</label>
                        <input type="email" name="email" id="email" required className="form-control" placeholder="Enter your email" aria-describedby="helpId" />

                    </div>
                    <div className="form-group">
                        <label className="password1" htmlFor="password">Password</label>
                        <input name="password" id="password" required className="form-control" placeholder="Enter your password" aria-describedby="helpId" />


                    </div>
                    <div className="btn-group">
                        <button className="submit" type="submit" className="btn btn-primary mb-2 mr-1 waves-effect waves-light">Submit</button>
                        <button className="reset" type="reset" className="btn btn-danger mb-2 waves-effect waves-light">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>