<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="C:\Users\hegyi\Desktop\Responsive Webdesing\IBM training\Capstone project\Project code\grihf-frontend_capstone_starter_code\Log_in\Login_page.css">
</head>
<body>

  <div>
    <!--This is the navigation bar-->
    <section className="section">
              <!-- This is the company name and logo-->
              <a className="logo" href="../Landing_Page/LandingPage.html" > HealthGuard
                <i className="fa fa-tint" className="drop-image" aria-hidden="true"></i></a>
      <nav className="navbar">
         
        <!-- This is the home page--> 
          <a className="home" className="active" href="../Landing_Page/LandingPage.html" className="home"> Home 
          <i className="fa fa-fw fa-home" className="home-image"></i></a>

        <!-- this is the appointment page-->
        <a className="appointments" className="active" href="../Search-Page/SearchPage.html" > Appointments
        <i className="fa fa-fw fa-search" className="search-image"></i></a>

        <!--This is the blog page-->
        <a className="health-blog" className="active" href="#"> Health Blog
        <i className="fa fa-fw fa-users" className="users-image"></i></a>
        
        <!--This is the review page-->
        <a className="reviews" className="active" href="../Review_Page/ReviewPage.html"> Reviews
        <i className="fa fa-fw fa-book" className="book-image"></i></a>
      </nav>
    </section>
  </div>

    <div className="container">
        <div className="login-grid">
          <div className="login-text">
            <h2>Login</h2>
          </div>
          <div className="login-text">
            Are you a new member? <span><a href="C:\Users\hegyi\Desktop\Responsive Webdesing\IBM training\Capstone project\Project code\grihf-frontend_capstone_starter_code\Sign_up\SignUp.html" style="color:rgba(219, 252, 255, 1)"> Sign Up Here</a></span>
          </div>
          <br />
          <div className="login-form">
            <form>
              <div className="form-group">
                       <label className="email" htmlFor="email">Email</label>
                        <input type="email" name="email" id="email" className="form-control" placeholder="Enter your email" aria-describedby="helpId" />
                    </div>
              <div className="form-group">
                <label className="password" htmlFor="password" >Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  className="form-control"
                  placeholder="Enter your password"
                  aria-describedby="helpId"
                />
              </div>
            


              <div className="btn-group">
                <button className="login" type="submit" className="btn btn-primary mb-2 mr-1 waves-effect waves-light">Login</button> 
                <button className="reset" type="reset" className="btn btn-danger mb-2 waves-effect waves-light">Reset</button>
              </div>
              <br />
              <div className="login-text">
                Forgot Password?
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>