<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="C:\Users\hegyi\Desktop\Responsive Webdesing\IBM training\Capstone project\Project code\grihf-frontend_capstone_starter_code\Log_in\Login_page.css">
</head>
<body>

  <div>
    <!--This is the navigation bar-->
    <section class="section">
              <!-- This is the company name and logo-->
              <a class="logo" href="../Landing_Page/LandingPage.html" > HealthGuard
                <i class="fa fa-tint" class="drop-image" aria-hidden="true"></i></a>
      <nav class="navbar">
         
        <!-- This is the home page--> 
          <a class="home" class="active" href="../Landing_Page/LandingPage.html" class="home"> Home 
          <i class="fa fa-fw fa-home" class="home-image"></i></a>

        <!-- this is the appointment page-->
        <a class="appointments" class="active" href="../Search-Page/SearchPage.html" > Appointments
        <i class="fa fa-fw fa-search" class="search-image"></i></a>

        <!--This is the blog page-->
        <a class="health-blog" class="active" href="#"> Health Blog
        <i class="fa fa-fw fa-users" class="users-image"></i></a>
        
        <!--This is the review page-->
        <a class="reviews" class="active" href="../Review_Page/ReviewPage.html"> Reviews
        <i class="fa fa-fw fa-book" class="book-image"></i></a>
      </nav>
    </section>
  </div>

    <div class="container">
        <div class="login-grid">
          <div class="login-text">
            <h2>Login</h2>
          </div>
          <div class="login-text">
            Are you a new member? <span><a href="C:\Users\hegyi\Desktop\Responsive Webdesing\IBM training\Capstone project\Project code\grihf-frontend_capstone_starter_code\Sign_up\SignUp.html" style="color:rgba(219, 252, 255, 1)"> Sign Up Here</a></span>
          </div>
          <br />
          <div class="login-form">
            <form>
              <div class="form-group">
                       <label class="email" for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" aria-describedby="helpId" />
                    </div>
              <div class="form-group">
                <label class="password" for="password" >Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="Enter your password"
                  aria-describedby="helpId"
                />
              </div>
            


              <div class="btn-group">
                <button class="login" type="submit" class="btn btn-primary mb-2 mr-1 waves-effect waves-light">Login</button> 
                <button class="reset" type="reset" class="btn btn-danger mb-2 waves-effect waves-light">Reset</button>
              </div>
              <br />
              <div class="login-text">
                Forgot Password?
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>